@{
    ViewBag.Title = "Mobile app";
}

<p>We have created also application for mobile (Android). It will be available soon!</p>

<p>Tourist guide is primarily to help find specific locations in the city of a stranger to us, 
as well as the possibility of arranging with friends in a specific place. By tracking the actual
motion at any time we can determine the location of their friends and through Google we will get 
to the navigation.</p>