@model IEnumerable<TouristGuide.Models.Country>

@{
    ViewBag.Title = "Countries";
}

@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="center border-bottom search-cat">
<form action="/Country/Index" method="get">
    Country: <input type="text" name="country" />
    <input type="submit" value="Filter" />
</form>
</div>

<table  class="table_center">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.ID })
        </td>
        @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>
