@model IEnumerable<TouristGuide.Models.Country>

@{
    ViewBag.Title = "Countries";
}

@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div class="center border-bottom search-cat">
<form action="/Country/Index" method="get">
    Country: <input type="text" name="country" />
    <input type="submit" value="Filter" />
</form>
</div>

<ul class="list">
@foreach (var item in Model) {
    <li>
            @Html.ActionLink(item.Name, "Details", new { id=item.ID })
        
        @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
        {
        
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        
        }
    </li>
}
</ul>